.buttonBlue {
    @include styleButton($pd-1, $pd-2, $color-blue, $color-white,$bd-2);
    opacity:0.8;
    &:hover{
        opacity: 1
    }
    transition: .3s ease;
}

.buttonPink {
    @include styleButton($pd-1, $pd-2, $color-pink, $color-white,$bd-2);
    opacity: 0.8;
    &:hover{
        opacity: 1
    }
    transition: .3s ease;
}

