.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        padding: 0 15px;
    }
    button {
        transition: .2s ease;
        border-radius: 50%;
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
        &.active, &:hover {
            background-color: red;
            color: white;
        }
    }
}