.item-course {
    margin-bottom: 112px;
  }
  
  .item-course:hover .relative {
    background: transparent;
    box-shadow: none;
    opacity: 0;
  }
  
  .item-course:hover .show-info {
    opacity: 1;
    transform: translateY(0);
  }
  
  .wallpaper {
    position: relative;
    & img {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }
    & .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.4);
    }
    & .name-courses {
      position: absolute;
      /* top: 0; */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #e4e4e4;
      & h4 {
        color: white;
        font-size: 15px;
      }
      p:before,
      p:after {
        background-color: #e4e4e4;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 40%;
      }
      p:before {
        right: 0.5em;
        margin-left: -50%;
      }
      p:after {
        left: 0.5em;
        margin-right: -50%;
      }
    }
  }
  
  .main-content {
    position: absolute;
    width: 85%;
    top: 80%;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%);
  
    & .relative {
      border: 1px solid;
      padding: 10px;
      box-shadow: 5px 10px 8px #888888;
      z-index: 2;
      height: 150px;
      background: white;
      overflow: hidden;
      &::before {
        content: "";
        display: inline-block;
        height: 3px;
        position: relative;
        vertical-align: middle;
        width: 107%;
        background: black;
        bottom: -124px;
        left: -11px;
      }
      &::after {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #000000;
        content: "";
        top: 137px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      & .status-courses {
        background: green;
        width: 15%;
        border-radius: 10px;
        color: white;
      }
      & .info-courses {
        margin-top: 5px;
        & .teacher p {
          margin-right: 20px;
        }
        & label {
          margin-left: 5px;
          color: #888888;
        }
        & p {
          line-height: 15px;
          font-weight: 700; //$fw-4;
        }
        & .fee {
          color: #df3ef8; //$color-pink;
          font-size: 20px; //$fs-2;
          line-height: 25px;
        }
      }
    }
    & .show-info {
      position: absolute;
      top: -118px;
      left: 0;
      width: 100%;
      height: 250px;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1000;
      padding-left: 15px;
      text-align: left;
      padding-top: 15px;
      line-height: 10px;
      opacity: 0;
      transition: 0.3s ease;
      transform: translateY(27px);
      border-radius: 0 0 10px 10px;
      overflow: hidden;
  
      & p,
      h4,
      label,
      span,
      .fee {
        margin-left: 5px;
        margin-bottom: 10px;
        color: white;
      }
      h4 {
        color: #b6b6b6;
        font-size: 12px;
        font-weight:700; //$fw-4;
      }
      .fee {
        color:  #df3ef8; //$color-pink;
        font-size: 20px; //$fs-2;
        line-height: 25px;
      }
      span:before,
      span:after {
        background-color: #e4e4e4;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 25%;
      }
      span:before {
        right: 0.5em;
      }
      span:after {
        left: 0.5em;
      }
      &::before {
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 104%;
        background: white;
        margin-bottom: 0px;
        top: -20px;
        left: -14px;
      }
      &::after {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #e8e8e8;
        content: "";
        top: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      & .button-show-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        & .detail {
          padding: 10px 20px;
          background: #ccc;
          border-radius: 10px;
          margin-top: 10px;
          color: black;
        }
        & .add-cart {
          padding: 10px 20px;
          background: #227df9;
          border-radius: 10px;
          margin-top: 10px;
          color: white;
          border: none;
        }
        & .icon-heart {
          cursor: pointer;
          color: white;
          opacity: 0.7;
          font-size: 30px;
        }
        & .heart {
          width: 100px;
          height: 50px;
          background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
            no-repeat;
          background-position: left;
          cursor: pointer;
          transition: background-position 1s steps(28);
          transition-duration: 0s;
           
        }
        .is-active {
          transition-duration: 1s;
          background-position: right;
        }
      }
    }
  }
  