@mixin styleText($color,$fs,$fw) {
    color:$color ;
    font-size: $fs;
    font-weight: $fw ; 
}

@mixin styleWidth($width,$mg-l,$mg-r) {
    margin-left: $mg-l;
    margin-right: $mg-r;
    width: $width;
}

@mixin styleButton($pd-y,$pd-x,$bg-color,$color,$border) {
    padding: $pd-y $pd-x ;
    background: $bg-color;
    color: $color;
    border:$border
}

@mixin styleButtonHover($bg-color,$color,$border) {
    background:$bg-color;
    color: $color;
    border:$border
}

@mixin mediaQuery($screen) {
    @if(map-has-key($map: $breakpoints, $key:$screen )) {
        $value : map-get($map: $breakpoints, $key:$screen );
        @media screen and (max-width:$value) {
            @content ;
        }
    } @else {
        @warn "Màn hình không tồn tại"
    }
}