//color
$color-white-1 :#fff ;
$color-dark-1 : #000 ;
$color-dark-2 : #181818;
$color-trans : transparent;

//font size
$fs-1:15px ;



// font weight 
$fw-1: 300 ;


// padding 
$pd-1 : 30px ;


// margin 
$mg-1: 6px ;


// border
$bd-1 : 2px ;
$bd-2 : none ;

// border radius
$bd-radius-1:50px ; 
$bd-radius-2:50%;
$bd-radius-3:10px ;
$bd-radius-4:1rem ;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
    "extra-large-down": 1199.98px,
    "large-down": 991.98px,
    "medium-down": 767.98px,
    "small-down": 575.98px,
);